@import url("https://fonts.googleapis.com/css?family=PT+Sans|Open+Sans");

.row {
    margin-right: 5px;
    margin-left: -5px;
}
.modal-content {
    background-color: #ffffff33;
}


body {
    font-family: "Pt Sans";
    line-height: 15px;
    color: #fff;
}

.nav-tabs-custom>.tab-content {
    background-color: #404040;
}

.tab-content {
    background-color: #303030;
}
.dataTable {
    background-color: #404040;
}
table.dataTable {
    background-color: #404040;
}
table.dataTable tbody tr {
    background-color: #404040;
}
.dataTables_wrapper .dataTables_scroll {
    background-color: #404040;
}
#table.dataTable tbody tr {
    background-color: #404040;
}

table.dataTable thead th,
table.dataTable thead tr,
table.dataTable thead td,
table.dataTable tbody th,
table.dataTable tbody tr,
table.dataTable tbody td {
    background-color: #404040;
}

table.dataTable tbody tr.odd,
table.dataTable tbody tr.odd td {
    background-color: #393939;
}

/* .shiny-table.spacing-xs > thead > tr > th, */
/* .shiny-table.spacing-xs > tbody > tr > th, */
/* .shiny-table.spacing-xs > tfoot > tr > th, */
/* .shiny-table.spacing-xs > thead > tr > td, */
/* .shiny-table.spacing-xs > tbody > tr > td, */
/* .shiny-table.spacing-xs > tfoot > tr > td { */
/*   padding-top: 3px; */
/*   padding-bottom: 3px; */
/*   border: 0; */
/* } */

.shiny-table.spacing-xs > tbody > tr > td:hover {
    background-color: #000;
}

table.dataTable tbody tr:hover {
    background-color: #000;
}
table.dataTable tbody tr:active {
    background-color: #000;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #fff !important;
}


.skin-blue .sidebar a {
    color: #444;
    display: inline-block;
    float: center;
    text-align: center;
    margin: 3px 10px 6px 15px;
}

.skin-blue .main-header .navbar {
    background-image: url('data/Wings.png');
    background-position: right;
    background-size: auto 50px;
    background-color: #171F21;
    background-repeat: no-repeat;
    /* background-color: #9fbbdf; */
}

/* .navbar:after { */
/*     content: "HELLO"; */
/*     /\* text-align: center; *\/ */
/*     /\* vertical-align: middle; *\/ */
/*     /\* line-height: 10px;  *\/ */
/* } */

.skin-blue .main-header .logo {
    background-color: #171F21;
    /* background-image: url('data/banner1.png'); */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* position: relative; */
}

.main-header .logo {
    text-align: left;
}

.leaflet-bar a {
    background-color: #283639;
    border-bottom: 1px solid #444;
}

.content-wrapper, .right-side {
    background-color: #283639;
    /* background-image: url('data/fly2.png'); */
    /* background-position: bottom right; */
    background-size: auto 200px;
    /* background-color: #9fbbdf; */
    /* background-repeat: no-repeat; */
}

/* .skin-blue .left-side, .skin-blue .main-sidebar { */
/*     /\* background-color: #283639; *\/ */
/*     background-image: url('data/fly3.png'); */
/*     background-position: bottom; */
/*     background-size: 80% auto; */
/*     /\* background-color: #9fbbdf; *\/ */
/*     background-repeat: no-repeat; */
/*     /\*  -webkit-transform: scaleX(-1); *\/ */
/*     /\* transform: scaleX(-1); *\/ */
   
/* } */

/* section.sidebar .shiny-input-container { */
/*     padding: 6px 10px 0px 15px; */
/* } */

/* section.sidebar .shiny-bound-input.action-button, section.sidebar .shiny-bound-input.action-link { */
/*     margin: 2px 0px 2px 0px; */
/* } */
.nav-tabs>li.active>a {
    font-weight: bold;
    background-color: #EEEEEE;
    text-decoration: underline;
    color: #3c8dbc;
    /* border-color: #3c8dbc; */
}

.nav-tabs>li>a {
    color: #3c8dbc;
}

.vis-item {
    border-color: #C5DDC0;
    border-color: #CCCCCC;
    background-color: #f7f2ca;
    /* background-color: #D7E2D5; */
    /* background-color: #263630; */
    /* color: #fff; */
}

.vis-labelset .vis-label {
    background-color: #EEEEEE;
    color: #000000; 
}
/* .col-sm-12 { */
/*     padding-left: 5px; */
/*     padding-right: 5px; */
/* } */

/* .col-sm-2 { */
/*     padding-left: 5px; */
/*     padding-right: 5px; */
/* } */

/* .col-sm-6 { */
/*     padding-left: 5px; */
/*     padding-right: 5px; */
/* } */
/* .col-sm-3 { */
/*     padding-left: 5px; */
/*     padding-right: 5px; */
/* } */

/* .col-sm-11 { */
/*     padding-left: 2px; */
/*     padding-right: 2px; */
/* } */

body {
    font-family: "Pt Sans";
    line-height: 12px;
}

/* body, html { */
/*     background-color: #171F21; */
/* } */

.form-group {
    margin-bottom: 6px;
}
/* .form-control { */
/*     font-size: 14px; */
/*     height: 25px; */
/* } */
/* .navbar { */
/*     font-weight: 700; */
/*     font-size: 18px; */
/* } */
/* label { */
/*     font-weight: 500; */
/* } */
/* .box-title { */
/*     font-weight: 700; */
/* } */

/* .h5, h5 { */
/*     margin-top: 5px; */
/*     margin-bottom: 10px; */
		   
/* } */

.h3, h3 {
    color: #fff;
}
.h4, h4 {
    color: #fff;
}

.h5, h5 {
    color: #ddd;
}

.h6, h6 {
    color: #fff;
}

.leaflet-right .leaflet-control {
    background: #171F21;
    color: #eee;
}
.legend svg text {
    fill: #eee;
}

.shiny-output-error-validation {
    color: yellow;
}

    
/* } */

/* /\* } *\/ */
/* .box { */
/*     background: #171F21; */
/*     box-shadow: 3px 3px 8px rgba(0,0,0,.2); */
/*     margin-top: 5px; */
/*     margin-bottom: 15px; */
/* } */

/* .small-box { */
/*     margin-bottom: 10px; */
/* } */

/* .btn { */
/*     /\* box-shadow: 1px 1px 6px #000; *\/ */
/*     margin-bottom: 25px; */
/* } */

/* .selectize-input.full { */
/*     background-color: #f5f5f5; */
/*     font-size: 14px; */
/*     line-height: 14px; */
/* } */

hr {
    border-top: 1px solid #2b3940;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* #question { */
/*     font-weight: 700; */
/*     font-size: 18px; */

/* } */

/* .main-sidebar  { */
/*     /\* padding-top: 10px; *\/ */
/*     width: 250px; */
/* } */

/* .sidebar { */
/*     height: 95vh; */
/*     /\* width: 270px; *\/ */
/*     overflow-y: auto; */
/*     /\* position: fixed; *\/ */
/*     /\* white-space: nowrap; *\/ */
/*     /\* overflow: visible; *\/ */
/*     /\* padding-right: 15px; *\/ */
/* } */

/* .col-sm-fixed-4 { */
/*   /\* position: relative; *\/ */
/*   min-height: 1px; */
/*   padding-left: 15px; */
/*   padding-right: 15px; */

/*   position: relative; */
/*   /\* position: fixed; *\/ */
    
/* } */

/* #sidebarItemExpanded { */
/*     width: 80%; */
/*     /\* margin-left: 80px; *\/ */
/*     /\* padding-left: 80px; *\/ */
/* } */

/* .left-side { */
/*     padding-top: 10px; */
/* } */

/* #dataset { */
/*     margin-right: 50px; */
/*     padding-right: 50px; */
/* } */



/* .shiny-table.spacing-xs > thead > tr > th, */
/* .shiny-table.spacing-xs > tbody > tr > th, */
/* .shiny-table.spacing-xs > tfoot > tr > th, */
/* .shiny-table.spacing-xs > thead > tr > td, */
/* .shiny-table.spacing-xs > tbody > tr > td, */
/* .shiny-table.spacing-xs > tfoot > tr > td { */
/*   padding-top: 3px; */
/*   padding-bottom: 3px; */
/*   border: 0; */
/* } */


/* .nav-tabs-custom>.nav-tabs>li.active>a { */
/*     font-weight: bold; */
/*     color: #50AD85; */
/*     /\* text-decoration: underline; *\/ */
/* } */

/* .nav-tabs-custom>.nav-tabs>li.active:hover>a { */
/*     color: #50AD85; */
/*     text-decoration: underline; */
/* } */

/* .nav-tabs-custom>.nav-tabs>li:hover>a { */
/*     color: #000; */
/*     text-decoration: underline; */
/* } */
					  
/* .nav-tabs-custom>.nav-tabs>li.active { */
/*     border-top-color: #50AD85; */
/* } */


#date_sel .irs-min, #date_sel .irs-max {
    color: #fff;
}
